<div class="quiz-container"  fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card-container">
    <label id="example-radio-group-label">Pick your favorite season</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="favoriteSeason">
      <mat-radio-button class="example-radio-button" *ngFor="let quiz of currentQuestion" [value]="quiz">
        {{quiz}}
      </mat-radio-button>
    </mat-radio-group>
    <div>Your favorite season is: {{favoriteSeason}}</div>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button color="primary">PREV</button>
      <button mat-raised-button color="primary">NEXT</button>
    </mat-card-actions>
  </mat-card>
</div>
