.quiz-container{
  text-align: center;
  height: 100vh;

}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.card-container{
  width: 80vw;
  padding: 50px 100px 50px 100px;
}
